html {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

header,
h1, h2, h3, h4, h5, h6,
blockquote {
  font-family: $font-family-sans;
  margin: 0;
}

a,
.a-faux {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 1.125em;
  @include linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba($color-beige-dark,0.8) 75%);
  background-size: 2px 2px;
  text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF;
  color: $color-beige-dark;
  @include transition(opacity 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out);
  &:hover,
  &:focus {
    color: darken($color-beige, 15%);
  }
  &:active {
    color: $color-beige-dark;
  }
}

img {
  width: 100%;
}

ol,
ul {
  padding-left: 0;
  margin-left: $gutter / 2;
  @include media($mid) {
    margin-left: 0;
  }
  & > ol,
  & > ul {
    margin-left: 2em;
    margin-left: 2em;
  }
}

blockquote {
  margin: 0;
}

iframe {
  border: 0;
}

hr {
  margin-top: 2em * $base-line-height;
  margin-bottom: 2em * $base-line-height;
  width: 50%;
  border: 0;
  border-bottom: 1px solid $color-grey-dark;
}

figure {
  margin: 0;
  font-style: italic;
  color: $color-grey-dark;
  @include media($mid) {
    font-size: 0.8em;
  }
  a {
    background: transparent;
  }
}
