html {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6, blockquote {
font-family: $font-family-sans;

}

body {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  max-width: $max-width;
  // margin-left: auto;
  // margin-right: auto;
}

a,
a:visited {
  text-decoration: none;
  border-bottom: 1px solid;
  color: darken($color-beige, 33%);
  &:hover {
    color: darken($color-beige, 15%);
  }
  &:active {
    color: darken($color-beige, 33%);
  }
  &:focus {
    color: darken($color-beige, 33%);
    text-decoration: none;
    outline: 1px solid;
    border-bottom: 0;
    background: #FFF;
    z-index: 1;
    position: relative;
    padding: 0.5em;
    margin: -0.5em;
    box-shadow: 5px 5px 0 darken($color-beige, 50%);
  }
}

// @media (min-width: $media-s) {

  ol,
  ul,
  li {
    padding-left: 0;
    margin-left: $gutter / 2;
    @include media($narrow) {
      margin-left: 0;
    }
    ol,
    ul {
      margin-left: 2em;
      margin-left: 2em;
    }
  }


// }
