.grid {
  background: white;
  margin: 0 0 $gutter 0;

  &:after {
    // Or @extend clearfix
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $gutter;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $gutter 0 $gutter $gutter;
  [class*='col-']:last-of-type {
    padding-right: $gutter;
  }
}
