.row {
  outline: 1px solid red;
  background: white;
  margin: 0 auto $gutter auto;
  > * {
    outline: 1px solid blue;
  }

  &:after {
    // Or @extend clearfix
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $gutter;
  width: 100%;
  .row &:last-of-type {
    padding-right: 0;
  }
}

@media (min-width: $media-m) {

  .col-1-of-3 {
    width: 33.33%;
  }
  .col-1-of-3 {
    width: 66.66%;
  }
  .col-1-of-2 {
    width: 50%;
  }
  .col-1-of-4 {
    width: 25%;
  }
  .col-1-of-5 {
    width: 20%;
  }
  .col-2-of-5 {
    width: 40%;
  }
  .col-3-of-5 {
    width: 60%;
  }
  .col-1-of-8 {
    width: 12.5%;
  }

}

/* Opt-in outside padding */
.row--pad {
  padding: $gutter 0 $gutter $gutter;
  [class*='col-']:last-of-type {
    padding-right: $gutter;
  }
}
