body {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.container {
  @include outer-container;
}

.row {
  @include row();
}

.row--breakout {
  @include row();
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

@include media($narrow) {

  .header {
    @include span-columns(5 of 5);
  }

  .nav {
    @include span-columns(1 of 5);
  }

  .logo {
    @include span-columns(2 of 5);
  }

}

@include media($mid) {

  .header {
    @include span-columns(7 of 7);
  }

  .logo {
    @include span-columns(2 of 7);
  }

  .nav {
    @include span-columns(3 of 7);
  }

  .row--narrow {
    @include span-columns(5 of 7);
    @include shift(2);
  }

  .footer {
  }

  .footer-block {
    @include span-columns(2 of 7);
    &:last-child {
      @include span-columns(3 of 7);
    }
  }

}
