body {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.container {
  @include outer-container;
}

.row {
  @include row();
}

.row--breakout {
  @include row();
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

@include media($narrow) {

  .header {
    @include span-columns(5 of 5);
  }

  .nav {
    @include span-columns(1 of 5);
  }

  .logo {
    @include span-columns(2 of 5);
  }

}

@include media($mid) {

  .header {
    @include span-columns(7 of 7);
  }

  .logo {
    @include span-columns(2 of 7);
  }

  .nav {
    @include span-columns(3 of 7);
  }

  .row--narrow {
    @include span-columns(5 of 7);
    @include shift(2);
  }

  .blockquote--intro footer {
    @include shift(1 of 7);
  }

  .footer {
  }

  .footer-block {
    @include span-columns(2 of 7);
    &:last-child {
      @include span-columns(3 of 7);
    }
  }

}

@include media($wide) {

  .row--center {
    @include span-columns(5 of 7);
    @include shift(1);
  }

  .blockquote--intro {
    @include shift(-1 of 7);
    @include span-columns(6 of 5);
  }

  .meetup-register {
    @include span-columns(6 of 8);
    @include shift(1);
  }

  .meetup-list {
    @include span-columns(5 of 7);
    @include shift(1);
  }

  .meetup-talk {
    @include span-columns(2 of 4);
  }

  // .speaker-bio {
  //   @include shift(0);
  //   @include span-columns(3 of 2);
  //   &:nth-child(1n) {
  //     @include shift(-2);
  //   }
  // }

  .sponsor-list {
    @include span-columns(7);
  }

  .sponsor-item {
    @include span-columns(2 of 4);
    @include omega(2n);
  }


}

@include media($huge) {

  .sponsor-list {
    @include span-columns(9 of 7);
    @include shift(-1 of 7);
  }

  .sponsor-item {
    @include span-columns(2 of 8);
    @include omega-reset(2n);
    &:nth-child(2n) { margin-right: flex-gutter(8, $gutter); }
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

}
