// Grid Settings
// =============

$gutter: 20px;
$max-width: 60em;

// Font Stacks
// ===========

$font-family-sans:      "Edmondsans", "Avenir Next", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-family-serif:      $font-family-sans;
$font-family-display:    $font-family-sans;
$font-family-caption:    $font-family-sans;
$font-family-monospace: "Source Code Pro", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$base-font-family:       $font-family-sans;


// Font Weights
// ============

$font-weight-thin:       100;
$font-weight-light:      300;
$font-weight-normal:     400;
$font-weight-semibold:   600;
$font-weight-bold:       700;
$font-weight-extrabold:  800;
$font-weight-black:      900;


// Breakpoints
// ===========

$media-s:  30em;
$media-m:  40em;
$media-l:  50em;
$media-xl: 60em;

// Colour Scheme
// =============

$color-blue:   #66C7C9;
$color-creme:  #F1EDB5;
$color-beige:  #D3D0C7;
$color-red:    #ED1C24;
$color-orange: #FDCA4F;
$color-black:  #404041;
$color-grey:   #6D6E70;
$color-white:  #FFFFFF;
