h1 Type Brigade

blockquote
 | I find, if you speak about anything for
 | long enough, it always comes back to type.
 footer Peter Cocking
   cite Typographic Systems, Emily Carr University of Art + Design

p All the more reason to speak about type sooner.

p Introducing <strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup. It’s community-driven and completely free to attend.

h2 Register for Type Brigade

// Event date and time
// Event location + map
// Event Title
// Speaker #1
// Speaker #2
// Map / location / address

h2 Sponsors

// Each Sponsor with why they care about type

h2 Call for Speakers

p
  a(href="call-for-speakers") We are always looking for speakers.
  |  If you don’t think you’re a presenter, we’d like the opportunity to prove you wrong.

// Organisers
