.container
  .row
    h1 Type Brigade

    blockquote.blockquote--intro
     | I find, if you speak about anything for
     | long enough, it always comes back to&nbsp;type.
     footer Peter Cocking
       cite Typographic Systems

    p All the more reason to speak about type sooner.

    p Introducing <strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup. It’s community-driven and completely free to attend.

.meetup.row.row--breakout
  .container
    article.meetup-item
      h2 Register for Type Brigade

      .meetup-map.map
        iframe(width="600px" height="250px" frameborder="0" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9123997934707!2d-123.119061!3d49.278057099999906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717e00a427ad%3A0x465fa83bbf8ee0d8!2s948+Homer+St!5e0!3m2!1sen!2s!4v1401754706985")
        small
          a(href="https://www.google.com/maps/place/948+Homer+St/@49.2784717,-123.1194173,15z/data=!4m2!3m1!1s0x5486717e00a427ad:0x465fa83bbf8ee0d8") View Larger Map

      section.meetup-details
        h3 Type Brigade #20
        time(datetime="2014-06-23T07:00:00Z") [June 23<sup>rd</sup>] at 7:00PM
        address
          strong Mobify HQ
          | 3<sup>rd</sup> Floor, 948 Homer Street
          | Vancouver, BC, Canada, V6B 2W7

      section.meetup-speaker
        img(src="/images/speaker-neil-kandalgaonkar.jpg")
        h4.meetup-talk Undesigning Cherokee syllabary: Restoring the usability of a Native American writing system
        .meetu-abstract
          p Ut varius suscipit eros, et accumsan lorem lobortis at. Etiam vel metus sit amet arcu dapibus sollicitudin ac quis erat. Mauris condimentum malesuada accumsan. Nulla at nulla ornare, cursus sem id, gravida ipsum. Phasellus sed massa tincidunt, porta ligula ac, ullamcorper magna.
          p Sed commodo at nisl nec aliquet. Nullam semper, est tristique sagittis molestie, est sem dictum odio, in tincidunt enim neque ultricies dui. Nunc vel consectetur justo, sed tempor erat. Nullam ut est in leo ultrices mattis. Donec magna dolor, adipiscing eget hendrerit et, imperdiet nec ligula.
        .meetup-speakerBio
        p “Sometimes, when a typeface gets popular, I want to say ‘I loved you first.’” Before working at Flickr, Google, Wikipedia, or starting his own company, Neil Kandalgaonkar was almost a type designer. He has crushing impostor syndrome and wrote the original version of this bio under duress.
        h5 Social
        ul
          li: a(href="#") Web
          li: a(href="#") Twitter
          li: a(href="#") GitHub
          li: a(href="#") Dribbble
          li: a(href="#") Instagram

      section.meetup-speaker
        img(src="/images/speaker-celeste-martin.jpg")
        h4 Talk title
        p Donec lorem ipsum, aliquet at tortor vitae, tempus tempus urna. Aenean nec arcu eget orci scelerisque interdum. Vivamus scelerisque gravida diam aliquet egestas. Sed fermentum massa a tristique vestibulum. Proin imperdiet vitae purus at scelerisque. Curabitur viverra nisi a elementum lobortis. Vivamus odio risus, porttitor ac elit iaculis, mattis tristique mauris. Vivamus fringilla id libero quis eleifend.
        h5 About Celeste Martin
        p Celeste Martin is an Assistant Professor at Emily Carr University of Art + Design. She has a background in communication design, and specialises in typography. Her work examines the forms of written language, the shapes of letters and their relationship to space. She leads additional projects as a research at the university’s Social + Interactive Media Centre, and as the editor of the award-winning design research journal <em>Current</em>.
        h5 Social
        ul
          li: a(href="#") Web
          li: a(href="http://twitter.com/CelestMartin") Twitter
          li: a(href="#") GitHub
          li: a(href="#") Dribbble
          li: a(href="#") Instagram
.container
  .row
    h3 Sponsors

    p Type Brigade would not be possible without our sponsors.

    ul.sponsor-list
      li.sponsor-item
        a(href="http://chloi.io").sponsor
          figure
            img.sponsor-image(src="/images/sponsor-chloi.svg" alt="Chloi Inc.")
            figcaption.sponsor-caption
              h4.sponsor-title Chloi Inc.
              em Sponsoring Organisation & More
              p Chloi Inc. builds next-generation web and mobile experiences, and loves working with designers that care about type. Type Brigade would not be possible without their support of Type Brigade’s organisational time, and mentorship through sibling meetups CSS Brigade and Node Brigade.
      li.sponsor-item
        a(href="http://mobify.com").sponsor
          figure
            img.sponsor-image(src="/images/sponsor-mobify.svg" alt="Mobify")
            figcaption.sponsor-caption
              h4.sponsor-title Mobify
              em Sponsoring Space
              p Mobify makes the web a fast and responsive experience on all mobile devices. They know how to take care of space, whether it’s getting type to look great on small screens, or taking care of our space for Type Brigade. Thanks to Mobify for letting us use their wonderful headquarters.
      li.sponsor-item
        a(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade").sponsor
          figure
            img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
            figcaption.sponsor-caption
              h4.sponsor-title Interested in sponsoring?
              em Sponsor Beer and Soda
              p This is a fun sponsorship slot: providing drinks to some of the best designers in Vancouver. If your company is interested, email #{ email } for more information.
      li.sponsor-item
        a(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade").sponsor
          figure
            img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
            figcaption.sponsor-caption
              h4.sponsor-title Interested in sponsoring?
              em Sponsor Printing and Extras
              p We’d like Type Brigade to be an memorable meetup for attendees, even after it’s over. If you’re interested in helping to make that happen, email #{ email } for information.
              p Some nice things. This sponsor is cool and cares about type.
.container
  .row
    h3 Call for Speakers
    p
      a(href="call-for-speakers") We are always looking for speakers.
      |  If you don’t think you’re a presenter, we’d like the opportunity to prove you wrong.
