img.banner(src="/images/typebrigade-background.svg")
.container
  .row.row--center
    h1.hidden Type Brigade

    blockquote.blockquote--intro
     | I find, if you speak about anything for
     | long enough, it always comes back to&nbsp;type.
     footer Peter Cocking,
       cite Designer

    p All the more reason to speak about it sooner.

    p Introducing <a href="http://meetup.com/typebrigade"><strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup</a>. It’s community-driven and completely free to&nbsp;attend.

    h2 Register for Type Brigade

include _includes/register

.container
  .row--center
    h2 Speakers at Type Brigade №21
    p The next Type Brigade will feature two fantastic talks. One talk will focus on typography, and the other on type design. More details will be announced on the <a href="blog">Type Brigade blog</a> soon!
  //-
    .meetup-list
      .meetup-talk.talk
        //- h4 Talk title
        //- p Donec lorem ipsum, aliquet at tortor vitae, tempus tempus urna. Aenean nec arcu eget orci scelerisque interdum. Vivamus scelerisque gravida diam aliquet egestas. Sed fermentum massa a tristique vestibulum. Proin imperdiet vitae purus at scelerisque. Curabitur viverra nisi a elementum lobortis. Vivamus odio risus, porttitor ac elit iaculis, mattis tristique mauris. Vivamus fringilla id libero quis eleifend.
        .talk-speaker.speaker
          img.speaker-image(src="/images/speaker-celeste-martin.jpg")
          h3.speaker-name Celeste Martin
          .speaker-bio
            p Celeste Martin is an Assistant Professor at Emily Carr University of Art + Design. She has a background in communication design, and specialises in typography, researches at the university’s Social + Interactive Media Centre, and is the editor of the award-winning design research journal&nbsp;<em>Current</em>.
          //- ul.speaker-socialList
          //-   li.speaker-socailItem: a(href="#") Web
          //-   li: a(href="http://twitter.com/CelestMartin") Twitter
          //-   li.speaker-socailItem: a(href="#") GitHub
          //-   li.speaker-socailItem: a(href="#") Dribbble
          //-   li.speaker-socailItem: a(href="#") Instagram

        .meetup-talk.talk
          //- h4.talk-title Undesigning Cherokee syllabary: Restoring the usability of a Native American writing system
          //- .talk-abstract
          //-   p Ut varius suscipit eros, et accumsan lorem lobortis at. Etiam vel metus sit amet arcu dapibus sollicitudin ac quis erat. Mauris condimentum malesuada accumsan. Nulla at nulla ornare, cursus sem id, gravida ipsum. Phasellus sed massa tincidunt, porta ligula ac, ullamcorper magna.
          //-   p Sed commodo at nisl nec aliquet. Nullam semper, est tristique sagittis molestie, est sem dictum odio, in tincidunt enim neque ultricies dui. Nunc vel consectetur justo, sed tempor erat. Nullam ut est in leo ultrices mattis. Donec magna dolor, adipiscing eget hendrerit et, imperdiet nec ligula.
          .talk-speaker.speaker
            img.speaker-image(src="/images/speaker-neil-kandalgaonkar.jpg")
            h3.speaker-name Neil Kandalgaonkar
            .speaker-bio
            p Neil Kandalgaonkar is a technologist who says “Sometimes, when a typeface I like becomes popular, I want to say ‘I loved you first.’” He's worked on sites like Google, Flickr, and Wikipedia, often with a focus on usability. He'll talk about the secret history of Native American typesetting and typeface design, and how he designed a Cherokee font that broke with 200 years of tradition.
            //- ul.speaker-socialList
            //-   li.speaker-socailItem: a(href="#") Web
            //-   li.speaker-socailItem: a(href="#") Twitter
            //-   li.speaker-socailItem: a(href="#") GitHub
            //-   li.speaker-socailItem: a(href="#") Dribbble
            //-   li.speaker-socailItem: a(href="#") Instagram
  .row.row--center

    h2 Call for Speakers
    p
      a(href="call-for-speakers") The Call for Speakers is currently open.
      |  If you don’t think you’re a presenter, we’d like the opportunity to prove you wrong.


.container
  .row.row--center

    h2 Sponsors
    p Type Brigade is free to attend, which would not be possible without our sponsors.
  .row
    ul.sponsor-list
      li.sponsor-item
        a.sponsor(href="http://chloi.io")
          img.sponsor-image(src="/images/sponsor-chloi.svg" alt="Chloi’s logo")
          .sponsor-details
            h4.sponsor-title Chloi Inc.
            em Organisational Sponsor
            p Chloi Inc. builds next-generation web and mobile experiences, and loves working with designers that care about type. Type Brigade would not be possible without their support, and mentorship through sibling meetups CSS Brigade and Node Brigade.
      li.sponsor-item
        a.sponsor(href="http://mobify.com")
          img.sponsor-image(src="/images/sponsor-mobify.svg" alt="Mobify’s logo")
          .sponsor-details
            h4.sponsor-title Mobify
            em Space Sponsor
            p Mobify makes the web a fast and responsive experience on all mobile devices. They know how to take care of space, whether it’s getting type to look great on small screens, or taking care of our space for Type Brigade. Thanks to Mobify for letting us use their wonderful headquarters.
      li.sponsor-item
        a.sponsor(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade")
          img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
          .sponsor-details
            h4.sponsor-title Interested in sponsoring?
            em Sponsor Type Brigade
            p Type Brigade has an active membership of amazing designers and type enthusiasts. If you’re looking to be move involved with design in Vancouver, email <span class="a-faux">#{ email }</span> for more information about sponsoring.

      li.sponsor-item
        a.sponsor(href="http://blackstonepress.ca")
          img.sponsor-image(src="/images/sponsor-black-stone-press.svg" alt="Black Stone Press’s logo")
          .sponsor-details
            h4.sponsor-title Black Stone Press
            em Letterpress Sponsor
            p Black Stone Press is a beautiful print studio with even better work. They’ve been providing fine letterpress printing and graphic design services on Granville Island since 1996.
      li.sponsor-item
        a.sponsor(href="https://www.harp.io")
          img.sponsor-image(src="/images/sponsor-harp-platform.svg" alt="Sponsorship slot available")
          .sponsor-details
            h4.sponsor-title Harp Platform
            em Deployment Sponsor
            p Harp Platform provides effortless publishing through Dropbox, and we’re using it to power the Type Brigade website through <span class="a-faux">www.harp.io</span>. In addition, they’re covering the drinks at Type Brigade! Thanks to the Harp Platform.


  .row.row--center
    != partial("blog/index").replace('h1', 'h2')
