h1 Type Brigade

blockquote.blockquote--intro
 | I find, if you speak about anything for
 | long enough, it always comes back to type.
 footer Peter Cocking
   cite Typographic Systems

p All the more reason to speak about type sooner.

p Introducing <strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup. It’s community-driven and completely free to attend.

h2 Register for Type Brigade

article.meetup
  figure.meetup-map
    img(src="http://placehold.it/1000x300")

  section.meetup-details
    h3 Type Brigade #20
    time(datetime="2014-06-23T07:00:00Z") [June 23<sup>rd</sup>] at 7:00PM
    address
      strong Mobify HQ
      | 3<sup>rd</sup> Floor, 948 Homer Street
      | Vancouver, BC, Canada, V6B 2W7

  section.meetup-speaker
    img(src="http://placehold.it/250")
    h4 Speaker 1
    p Designers hate whitespace. As least, that’s what Kenneth had to conclude. Preprocessors allow us to write a more thoughtful version of our CSS, yet we rarely use ones with a whitespace sensitive syntax. This talk explores the theory designers hold dear, and the CSS preprocessors they don’t: Stylus, Sass, and Rework.
    h5 Bio
    p Kenneth is a designer at Chloi Inc. where he helps build delightful experiences for the Harp Platform and for Harp, the static web server with built-in preprocessing.
    h5 Social
    ul
      li: a(href="#") Web
      li: a(href="#") Twitter
      li: a(href="#") GitHub
      li: a(href="#") Dribbble
      li: a(href="#") Instagram

  section.meetup-speaker
    img(src="http://placehold.it/250")
    h4 Speaker 2
    p Chris took a deep look at the best CSS frameworks when he had to choose one for WealthBar. Luckly, he documented the whole process and the pros/cons of each one of them.
    p In his presentation, Chris will explain the process that he went through to choose between Bootstrap 3, Foundation 4 and Bourbon Neat.
    h5 Bio
    p Chris is co-founder and CTO of @wealthbar a revolutionary online investing service that blends investing with personal financial advice with fully-managed portfolios. He also founded and organizes @polyglotconf.
    h5 Social
    ul
      li: a(href="#") Web
      li: a(href="#") Twitter
      li: a(href="#") GitHub
      li: a(href="#") Dribbble
      li: a(href="#") Instagram

h3 Sponsors

p Type Brigade would not be possible without our sponsors.

ul.sponsor-list
  li.sponsor-item
    a(href="http://chloi.io").sponsor
      figure
        img.sponsor-image(src="/images/sponsor-chloi.svg" alt="Chloi Inc.")
        figcaption.sponsor-caption
          h4.sponsor-title Chloi Inc.
          em Sponsoring Organisation & More
          p Chloi Inc. builds next-generation web and mobile experiences, and loves working with designers that care about type. Type Brigade would not be possible without their support of Type Brigade’s organisational time, and mentorship through sibling meetups CSS Brigade and Node Brigade.
  li.sponsor-item
    a(href="http://mobify.com").sponsor
      figure
        img.sponsor-image(src="/images/sponsor-mobify.svg" alt="Mobify")
        figcaption.sponsor-caption
          h4.sponsor-title Mobify
          em Sponsoring Space
          p Mobify makes the web a fast and responsive experience on all mobile devices. They know how to take care of space, whether it’s getting type to look great on small screens, or taking care of our space for Type Brigade. Thanks to Mobify for letting us use their wonderful headquarters.
  li.sponsor-item
    a(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade").sponsor
      figure
        img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
        figcaption.sponsor-caption
          h4.sponsor-title Interested in sponsoring?
          em Sponsor Beer and Soda
          p This is a fun sponsorship slot: providing drinks to some of the best designers in Vancouver. If your company is interested, email #{ email } for more information.
  li.sponsor-item
    a(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade").sponsor
      figure
        img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
        figcaption.sponsor-caption
          h4.sponsor-title Interested in sponsoring?
          em Sponsor Printing and Extras
          p We’d like Type Brigade to be an memorable meetup for attendees, even after it’s over. If you’re interested in helping to make that happen, email #{ email } for information.
          p Some nice things. This sponsor is cool and cares about type.

h3 Call for Speakers

p
  a(href="call-for-speakers") We are always looking for speakers.
  |  If you don’t think you’re a presenter, we’d like the opportunity to prove you wrong.

// Organisers
