script(async src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js")
script.
  WebFontConfig = {
    typekit: {
      id: '#{ service.typekit }'
    },
    custom: {
      families: ['Edmondsans:n4,n7'],
      urls: ['css/fonts.css']
    }
  };
