footer.footer
  .footer-block
    h4 Type Brigade
    ul.footer-list
      li.footer-item: a.footer-link(href="/events") Events
      li.footer-item: a.footer-link(href="/blog") Blog
      //- li.footer-item: a.footer-link(href="/about") About
      li.footer-item: a.footer-link(href="/code-of-conduct") Code of Conduct
      li.footer-item: a.footer-link(href="/call-for-speakers") Call for Speakers
      //- li.footer-item: a.footer-link(href="/sponsors") Sponsorship Opportunites
  .footer-block
    h4 Elsewhere
    ul.footer-list
      li.footer-item: a.footer-link(href="http://meetup.com/#{ social.meetup }") Meetup
      li.footer-item: a.footer-link(href="http://twitter.com/#{ social.twitter }") Twitter
      li.footer-item: a.footer-link(href="http://instagram.com/#{ social.instagram }") Instagram
      li.footer-item: a.footer-link(href="http://github.com/#{ social.github }") GitHub
  .footer-block
    h4 Colophon
    p The text is set in <abbr>FF</abbr> More, by <a href="http://alfabety.pl">Lukasz Dziedzic</a> from FontFont.
    p Headings and pullquotes are set in <a href="http://jamestedmondson.com">James T. Edmondson</a>’s Edmondsans, from our friends at <a href="http://losttype.com/font/?name=edmondsans">Lost Type Co-op</a>.
    //- p Our fantastic event numerals are by Type Brigade’s resident letterer, <a href="http://www.andreahusky.com">Andrea Husky</a>
    small Copyright © 2014 <a href="http://typebrigade.com">Type Brigade</a>. Code <a href="https://github.com/typebrigade/typebrigade.com">available</a> under the <abbr>MIT</abbr> License.
