header.header
  a(href="/").logo
    img.logo-image(src="/images/typebrigade-temp-logo.svg")
  nav.nav
    ul.nav-list
      // Register, else events
      li.nav-item: a.nav-link(href="http://meetup.com/#{ social.meetup }") Meetup
      //- li.nav-item: a.nav-link(href="/events") Events
      li.nav-item: a.nav-link(href="/blog") Blog
      //- li.nav-item: a.nav-link(href="/about") About
