.meetup.row.row--breakout
  .container
    .meetup-register
      a.meetup-map.map(href="https://www.google.com/maps/place/948+Homer+St/@49.2780571,-123.119061,17z")
        #map-canvas.map-canvas(width="600px" height="250px")
        //- iframe(width="600px" height="250px" frameborder="0" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9123997934707!2d-123.119061!3d49.278057099999906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717e00a427ad%3A0x465fa83bbf8ee0d8!2s948+Homer+St!5e0!3m2!1sen!2s!4v1401754706985")
        //- small
        //-   a(href="https://www.google.com/maps/place/948+Homer+St/@49.2784717,-123.1194173,15z/data=!4m2!3m1!1s0x5486717e00a427ad:0x465fa83bbf8ee0d8") View Larger Map

      .meetup-details
        .split
          h3 Type Brigade №20
          time(datetime="2014-06-23T07:00:00Z") June 24<sup>th</sup> at 7:00<abbr>PM</abbr>
        .split
          address
            strong Mobify HQ<br/>
            | 3<sup>rd</sup> Floor, 948 Homer Street<br/>
            | Vancouver, BC, Canada, V6B 2W7
        a.button(href="http://www.meetup.com/typebrigade/events/186884552/") Join for free

  .button-consolation
    a(href="http://www.meetup.com/Vancouver-Typography-Meetup-Group/join") Busy? No problem, get notified next time
