.footer {
  overflow: hidden;
  background: $color-beige-dark;
  padding: $gutter / 2 $gutter / 2 $gutter $gutter / 2;
  margin-top: $gutter * 2;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
  // @include media($wide) {
  //   margin-bottom: $gutter * 2;
  // }
  @include media($huge) {
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-top: $gutter * 5;
    margin-bottom: $gutter * 2;
    padding: $gutter $gutter $gutter * 1.125 $gutter;
  }
  // Should really be knockout links
  // or a Medium links mixin where you
  // can pass in the colours
  color: lighten($color-beige-dark, 100%);

  a,
  a:visited {
    color: lighten($color-beige, 8%);
    &:hover {
      color: lighten($color-beige, 100%);
    }
    &:active {
      color: lighten($color-beige, 100%);
    }
    &:focus {
    }
  }
}

.footer-list {
  list-style-type: none;
  margin-left: 0;
}
