.header {
  @include media($narrow) {
    margin-bottom: 1em;
  }
  @include media($huge) {
    margin-bottom: 3em;
  }
}

.logo {
  background: transparent;
}

.nav-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.nav-item {
  padding-left: 0;
  margin-left: 0;
}

.nav-link {
  background: transparent;
  display: block;
  padding-left: 0.5em;
  @include media($mid) {
    padding-left: 0;
    display: inline-block;
    background: inherit;
    background-position: 0 1em;
  }
  &.button {
    margin-bottom: 0.5em;
  }
}

.banner {
  position: absolute;
  z-index: -1;
  right: 0em;
  // top: 12em;
  // max-width: 30em;
  // @include media($narrow) {
    display: none;
    visibility: hidden;
  // }
  // @include media($wide) {
  //   display: block;
  //   visibility: visible;
  //   right: 0;
  //   top: 55em;
  //   max-width: 30em;
  // }
  @include media($huge) {
    display: block;
    visibility: visible;
    top: 60em;
    max-width: 50em;
  }

}
