.map {
  min-width: 100%;
  height: 0;
  padding-top: 33.33%;
  position: relative;
  background: transparent;
}

.map iframe, .map-canvas {
  width: 100%;
  height: 100%; // had to specify height/width
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
