.meetup {
  // background: transparent url("/images/typebrigade-background.svg") no-repeat right 25%;
  // background-size: 50%;
}

.meetup-register {
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 0.125em;
  box-shadow: inset 0 0 1px 0 darken($color-grey, 10%);

  background: $color-grey;
  // overflow: hidden;
}

.meetup-details {
  display: block;
  padding: $gutter / 2;
  @include media($mid) {
    padding: $gutter;
  }
}

.meetup-talk {
  margin-top: 1em;
  margin-bottom: 1em;
  @include media($mid) {
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

.speaker-image {
  border-radius: 0.125em;
  margin-bottom: 1em;
}

.speaker-name {
  display: block;
  text-align: center;
}

.meetup-map {
  display: block;
  // margin-top: $gutter / -2;
  // margin-left: $gutter / -2;
  // margin-right: $gutter / -2;
  // @include media($mid) {
  //   margin: -$gutter;
  // }
}
