//- TODO Don’t hard-code this
//- a.blog-author(href="http://twitter.com/kennethormandy") Kenneth Ormandy

if published === false
  != partial("../404")
else
  != yield.replace('</h1>', '</h1><em>by <a href="http://twitter.com/#{ author }">@' + author + '</a></em>')
  hr
  include ../_includes/register
