//- TODO Don’t hard-code this
//- a.blog-author(href="http://twitter.com/kennethormandy") Kenneth Ormandy

if published === false
  != partial("../404")
else
  != yield
  hr
  include ../_includes/register
