:root {
  --pink: #E90E8B;
  --purple: #8C288C;
}

@keyframes cycle-border {
  0%   { border-color: var(--pink);   }
  50%  { border-color: var(--purple); }
  100% { border-color: var(--pink);   }
}

@keyframes cycle-background {
  0%   { background: var(--pink);   }
  50%  { background: var(--purple); }
  100% { background: var(--pink);   }
}

@keyframes cycle-color {
  0%   { color: var(--pink);   }
  50%  { color: var(--purple); }
  100% { color: var(--pink);   }
}

.tito-tickets-button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.Button,
tito-button .tito-tickets-button-inner {
  animation: cycle-background 10s infinite, cycle-border 10s infinite;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.1;
  display: inline-block;
  appearance: none;
  border-radius: 8px;
  border: 2px solid var(--pink);
  color: #000;
  white-space: nowrap;
  text-decoration: none; 

}

.Button--small,
.Button.Button--small,
tito-button[data-size="small"] .tito-tickets-button-inner {
  font-size: inherit;
  padding: 0.75rem 1rem;
}

.Button--outline,
tito-button[data-style="outline"] .tito-tickets-button-inner {
  animation: cycle-border 10s infinite, cycle-color 10s infinite;
  background: black;
}



@media (min-width: 900px) {
  .Button,
  .tito-tickets-button-inner {
    padding: 1.5rem 3rem;    
    font-size: 2rem;
  }
}
