@font-face {
  font-family: "TB Centra";
  src: url('../fonts/CentraNo1-Book.woff2') format('woff2'),
       url('../fonts/CentraNo1-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TB Numero Only";
  src: url('../fonts/NumeroOnly-BookNumero.woff2') format('woff2'),
       url('../fonts/NumeroOnly-BookNumero.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TB Centra";
  src: url('../fonts/CentraNo1-BookItalic.woff2') format('woff2'),
       url('../fonts/CentraNo1-BookItalic.woff') format('woff');
  font-style: normal;
  font-style: italic;
}

@font-face {
  font-family: "TB Centra";
  src: url('../fonts/CentraNo1-Bold.woff2') format('woff2'),
       url('../fonts/CentraNo1-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background: black;
  color: white;
  font-family: "TB Centra", "TB Numero Only", GillSans, sans-serif;
  font-weight: normal;
  line-height: 1.55;
  font-size: 1.075rem;
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

a {
  color: #FFF;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.66);
}

figure {
  margin: 0;
}

.tito-wrapper {
  color: inherit !important;
}

table {
  min-width: 100%;
  font-feature-settings: "tnum";
}

th {
  vertical-align: top;
  text-align: left;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
