@font-face {
  font-family: "Centra";
  src: url('../fonts/CentraNo1-Book.woff2') format('woff2'),
       url('../fonts/CentraNo1-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Centra";
  src: url('../fonts/CentraNo1-BookItalic.woff2') format('woff2'),
       url('../fonts/CentraNo1-BookItalic.woff') format('woff');
  font-style: normal;
  font-style: italic;
}

@font-face {
  font-family: "Centra";
  src: url('../fonts/CentraNo1-Bold.woff2') format('woff2'),
       url('../fonts/CentraNo1-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background: black;
  color: white;
  font-family: "Centra", GillSans, sans-serif;
  font-weight: normal;
}

a {
  color: #FFF;
  text-decoration: underline;
}
