.Schedule a {
  text-decoration: none;
}

.Schedule {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.Schedule-line {
  padding: 0.5rem;
  padding-bottom: 1rem;
  vertical-align: top;
}

.Schedule-line--break {
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  opacity: 0.5;
}

.Schedule-team {
  opacity: 0.66;
  font-size: 0.75rem;
}
