blockquote,
.blockquote {
  margin-bottom: 1em;
  footer,
  .blockquote-footer {
    font-size: 0.66em;
    margin-top: 0.5em;
    margin-left: 1em;
    display: block;
    color: $color-beige;
    @include media($mid) {
      margin-top: 1em;
      margin-left: 0;
      font-size: 0.5em;
    }
    @include media($huge) {
      margin-top: 0.75em;
    }
    &:before {
      content: "\2014";
    }
    cite,
    .blockquote-cite {
      display: block;
      margin-left: 0.5em;
      font-style: normal;
    }
  }
}

.blockquote--intro {
  font-size: 1.25rem;
  @include media($mid) {
    font-size: 1.33rem;
  }
  @include media($wide) {
    font-size: 1.66rem;
  }
  @include media($huge) {
    font-size: 2.125rem;
  }
  line-height: 1.33;
  font-weight: $font-weight-medium;
}
