button,
input[type="submit"],
.button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background: $color-orange;
  display: block;
  text-shadow: none;
  font-family: $font-family-sans;
  padding: $gutter / 2 $gutter * 2;
  color: #FFF;
  text-shadow: 0 1px 2px darken($color-orange, 25%);
  font-weight: $font-weight-bold;
  border-radius: 0.125em;
  text-align: center;
  border: 0;
  border-bottom: 0.125em solid darken($color-orange, 25%);
  letter-spacing: 0.0075em;
  font-size: 1.125em;
  &:hover,
  &:focus {
    color: #FFF;
    background: lighten($color-orange, 5%);
    border-bottom: 0.1em solid lighten(darken($color-orange, 25%), 5%);
    border-top: 0.025em solid transparent;
  }
  &:active {
    color: #FFF;
    background: $color-orange;
    border-top: 0.125em solid transparent;
    border-bottom: 0;
  }
}

.button-consolation {
  margin: 1em auto;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

.button--small {
  font-size: 1em;
  padding: $gutter / 2 $gutter * 1;
  @include media($mid) {
    display: inline-block;
  }
}
