form {
  ul {
    list-style-type: none;
    margin-left: 0;
    > li {
      display: block;
      margin-bottom: $base-line-height * 1em;
    }
  }
}

label {
  display: block;
  small {
    font-weight: $font-weight-normal;
    display: block;
    color: $color-grey-dark;
    text-align: left;
    hyphens: auto;
    margin-top: $base-line-height * 0.5em;
    margin-bottom: $base-line-height * 0.5em;
    @include media($huge) {
      margin-top: $base-line-height * 1.25em;
      border-top: 1px solid $color-grey;
      padding-top: $gutter / 2;
    }
  }
  &[required="required"] {
    font-weight: $font-weight-bold;
    &:after {
      font-weight: $font-weight-normal;
      content: "required";
      display: inline-block;
      // float: right;
      margin-left: 0.25em;
      font-style: italic;
      // font-size: 0.8em;
      color: $color-grey-dark;
    }
  }
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],

// Webkit & Gecko may change the display of these in the future
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  appearance: none;
  width: 100%;
  resize: vertical;
  border: 1px solid $color-grey-dark;
  border-radius: $base-border-radius;
  font-family: $font-family-sans;
  line-height: $base-line-height;
  padding: $gutter / 2 $gutter / 2;
  font-weight: $font-weight-normal;
  color: $color-grey-dark;

  &:hover {
    border-color: $color-beige-dark;
  }

  &:focus {
    color: $color-black;
    border-color: $color-beige-dark;
  }
}

input {
}

select {
  width: auto;
}
