// If you don’t know what to do,
// it goes here. We’ll figure it
// out later.™

.hidden {
  display: none;
  visibility: hidden;
}

.blog-item {
  list-style-type: none;
  @include span-columns(7 of 7);
  @include shift(-3 of 7);
  @include media($wide) {
    time {
      @include span-columns(3 of 7);
      // @include shift(-2);
      text-align: right;
      margin-top: 0.6em; // Would be better if this didn’t have to get eyeballed
    }
    h2 {
      @include shift(3);
      width: 100%;
    }

  }
}

@media (max-width: $narrow-width) {
  .sponsor-list {
    margin-left: 0;
  }
}

address {
  margin: 1em 0;
}

@include media($mid) {
  .split {
    address {
      margin: 0;
    }
    margin-bottom: 1em;
    @include span-columns(1 of 2);
    @include omega(2n);
  }
  .button {
    clear: left;
  }
}
