// If you don’t know what to do,
// it goes here. We’ll figure it
// out later.™

// Hidden helper, currently
// used on global <h1> and
// one other thing

.hidden {
  display: none;
  visibility: hidden;
}

// Blog index page

.blog-list {
  margin-left: 0;
}

.blog-item {
  list-style-type: none;
  @include media($wide) {
    @include span-columns(7 of 7);
    @include shift(-3 of 7);
    time {
      @include span-columns(3 of 7);
      // @include shift(-2);
      text-align: right;
      margin-top: 0.6em; // Would be better if this didn’t have to get eyeballed
    }
    h2 {
      @include shift(3);
      width: 100%;
    }

  }
}

// Blog nest

.blog-author {
  font-style: italic;
}

// About page list, so
// we can keep it Markdown

.about {
  .row {
    & > h2 {
      @include shift(1 of 5);
      @include media($wide) {
        @include shift(0);
      }
    }
    & > ul {
      list-style-type: none;
      margin-left: 0;

      & > li {
        display: block;
        @include span-columns(4 of 5);
        @include shift(1);
        font-size: 0.8em;
        margin-bottom: 1.25em; // 1 / 0.8
        img {
          @include span-columns(1 of 5);
          @include shift(-1);
          position: relative;
          border-radius: 0.15625em; // 0.125 / 0.8
        }
        @include media($wide) {
          @include span-columns(5 of 5);
          @include shift(0);
          font-size: 1em;
          margin-bottom: 1em;
          img {
            @include span-columns(1 of 5);
            @include shift(-1);
            border-radius: 0.125em;
          }
        }
      }
    }
  }

}

// Meetup feature block

address {
  margin: 1em 0;
}

@include media($mid) {
  .split {
    address {
      margin: 0;
    }
    margin-bottom: 1em;
    @include span-columns(1 of 2);
    @include omega(2n);
  }
  .button {
    clear: left;
  }
}

// Move into seperate library
// Also figure--breakout in _layout

.figure--border {
  img {
    border: 1px solid $color-grey;
  }
}

article {
  blockquote {
    font-size: 1.25em;
    border-left: 0.25em solid;
    padding-left: 2em;
    p:last-child {
      strong:only-child {
        font-style: italic;
        font-weight: 400;
        font-family: $font-family-serif;
        color: $color-grey-dark;
        display: block;
        &:before {
          content: "\2014";
        }
        a {
          display: inline-block;
        }
      }
    }
  }
}

// Fix with Typogr or Normalize-OpenType PR
.caps {
  // text-transform: lowercase;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}

.epigraph {
  // margin-bottom: 1em;
  // padding-bottom: 1em;
  // border-bottom: 1px solid $color-grey;
  // // font-style: italic;
  // // @include media($mid) {
  // //   max-width: 75%;
  // //   margin: 1em auto;
  // // }
}
